<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/extras/dialect
	                    http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta content="text/html"/>
    <title>Home page!</title>
</head>
<body>
<h2>Hello</h2>

<div layout:fragment="content">
    # CONTENT IS HERE #
</div>

</body>
</html>